// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/* Background Colors */
$white: hsl(0, 0%, 100%);
$light-green: hsl(144, 16%, 94%);
$blue-black: hsl(217, 9%, 18%);
$light-gray: hsl(0, 0%, 94%);

/* Font Colors */
$dark-green-gray: hsl(90, 3%, 23%);
$gray: hsl(0, 0%, 67%);
$turquoise: hsl(158, 92%, 62%);
$dark-gray: hsl(217, 12%, 29%);
$olive-green: hsl(76, 6%, 34%);
