.collections {
  display: flex;
  justify-content: space-around;
  margin-bottom: rem(50px);
}

.collections-image {
  width: rem(350px);
}

.collections-figcaption {
  text-align: center;
}

.collections-subtitle {
  color: $dark-gray;
  font-size: rem(26px);
  font-weight: 300;
  margin: 0;
  word-wrap: break-word;
}
