footer {
  background-color: $blue-black;
  color: $gray;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;

  p {
    color: inherit;
    font-family: $header-font;
    margin: 0;
    text-transform: uppercase;
  }

  div {
    font-size: smaller;
    margin: 0;
  }
}
