.page-header {
  display: flex;
  left: 0;
  margin: 0;
  padding: rem(17px) rem(30px);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.page-header-link {
  height: rem(30px);
  width: rem(30px);
}

.fluor-logo {
  margin-left: auto;
  margin-right: auto;
  width: rem(160px);
}
