.navigation {
  background-color: $light-green;
  display: flex;
  height: 150px;
  justify-content: space-between;
  padding: 30px;

  p,
  a {
    color: $olive-green;
    font-family: $header-font;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-transform: initial;
  }
}

.column-title {
  color: $turquoise;
  font-size: 0.9375rem;
  font-weight: 400;
  margin-bottom: 15px;
  text-decoration: none;
}

.nav-list-container {
  display: flex;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-list-two {
  margin-left: 50px;
}

.nav-list-item {
  margin: 0;
  padding: 0;
}

.col {
  flex-basis: 345px;
}

.social-media {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.social-media-icons {
  display: flex;
}

.social-media-img {
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  width: 20px;

  &:last-of-type {
    margin-right: 0;
  }
}

