.navigation {
  background-color: $light-green;
  display: flex;
  height: rem(150px);
  justify-content: space-between;
  padding: rem(30px);

  p,
  a {
    color: $olive-green;
    font-family: $header-font;
    font-size: rem(15px);
    font-weight: 400;
    line-height: rem(24px);
    text-transform: initial;
  }
}

.column-title {
  color: $turquoise;
  font-size: rem(15px);
  font-weight: 400;
  margin-bottom: rem(15px);
  text-decoration: none;
}

.nav-list-container {
  display: flex;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-list-two {
  margin-left: rem(50px);
}

.nav-list-item {
  margin: 0;
  padding: 0;
}

.col {
  flex-basis: rem(345px);
}

.social-media {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.social-media-icons {
  display: flex;
}

.social-media-img {
  height: auto;
  margin-left: rem(10px);
  margin-right: rem(10px);
  width: rem(20px);

  &:last-of-type {
    margin-right: 0;
  }
}

