.news {
  display: grid;
  grid-template-columns: 1fr 30px 1fr;
  grid-template-areas: "header    header    header"
                       "left      .         right"
                       "subscribe subscribe subscribe";
  margin: 30px;

  h2 {
    grid-area: header;
    font-size: 1.8125rem;
    color: $turquoise;
    margin-top: 0;
    margin-bottom: 1.875rem;
  }

  h3 {
    font-size: 2.5rem;
    text-decoration: none;
    margin: 0;
    margin-bottom: 0.625rem;
  }

  hr {
    display: block;
    max-width: 70px;
    height: 3px;
    background: $dark-green-gray;
    border: 0;
    margin: 0;
    margin-bottom: 1.875rem;
  }
}

.rss-icon {
  position: relative;
  left: .25rem;
  display: inline-block;
  width: 1.25rem;
  height: auto;
}

.left-article {
  grid-area: left;
}

.right-article {
  grid-area: right;
}

.subscribe {
  grid-area: subscribe;
}

.article-subtitle {
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: $turquoise;
  margin-top: 0;
  margin-bottom: 30px;
}

.article-text {
  margin-bottom: 20px;
}

.article-button {
  padding: 10px;
  border-color: $dark-green-gray;
  border: 3px solid;
  font-family: $header-font;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color: $dark-green-gray;
  margin-bottom: 20px;

  &:hover {
    color: $olive-green;
    border-color: $olive-green;
  }
}

.article-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 30px;

  a {
    font-family: $header-font;
    font-size: 0.9375rem;
  }

  li {
    margin: 0 4px 0 4px;
  }
}

.tag-icon {
  width: 30px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $light-gray;
  height: 314px;

  h3 {
    font-size: 2.5rem;
    text-transform: initial;
    margin-bottom: 10px;
    font-weight: 700;
  }

  p {
    font-family: $header-font;
    font-size: 1.25rem;
    margin-bottom: 30px;
  }

  input {
    font-family: $header-font;
    padding: 16px 15px 15px;
    border: none;
    width: 410px;
  }

  button {
    padding: 14px 20px;
    background-color: $dark-green-gray;
    border: none;
    color: $white;
    font-family: $header-font;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.125rem;

    &:hover {
      background-color: $olive-green;
    }
  }
}

