.news {
  display: grid;
  grid-template-areas:
    'header    header    header'
    'left      .         right'
    'subscribe subscribe subscribe';
  grid-template-columns: 1fr rem(30px) 1fr;
  margin: rem(30px);
}

.article-title {
  font-size: rem(40px);
  margin: 0;
  margin-bottom: rem(10px);
  text-decoration: none;
}

.divider {
  background: $dark-green-gray;
  border: 0;
  display: block;
  height: rem(3px);
  margin: 0;
  margin-bottom: rem(30px);
  max-width: rem(70px);
}

.rss-icon {
  display: inline-block;
  height: auto;
  left: rem(4px);
  position: relative;
  width: rem(20px);
}

.left-article {
  grid-area: left;
}

.right-article {
  grid-area: right;
}

.subscribe {
  grid-area: subscribe;
}

.article-subtitle {
  color: $turquoise;
  font-size: rem(18px);
  line-height: rem(22px);
  margin-bottom: rem(30px);
  margin-top: 0;
}

.article-text {
  margin-bottom: rem(20px);
}

.article-button {
  border: 3px solid;
  border-color: $dark-green-gray;
  color: $dark-green-gray;
  font-family: $header-font;
  font-size: rem(18px);
  font-weight: 700;
  margin-bottom: rem(20px);
  padding: rem(10px);
  text-transform: uppercase;

  &:hover {
    border-color: $olive-green;
    color: $olive-green;
  }
}

.article-footer {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin-bottom: rem(30px);
  margin-top: 0;
  padding: 0;
}

.article-footer-item {
  margin: 0 rem(4px);
}

.article-footer-link {
  font-family: $header-font;
  font-size: rem(15px);
}

.tag-icon {
  width: rem(30px);
}

.subscribe {
  align-items: center;
  background-color: $light-gray;
  display: flex;
  flex-direction: column;
  height: rem(314px);
  justify-content: center;
}

.subscribe-title {
  font-size: rem(40px);
  font-weight: 700;
  margin-bottom: rem(10px);
  text-decoration: none;
  text-transform: initial;
}

.subscribe-subtitle {
  font-family: $header-font;
  font-size: rem(20px);
  margin-bottom: 30px;
}

.subscribe-input {
  border: 0;
  font-family: $header-font;
  padding: rem(16px) rem(15px) rem(15px);
  width: rem(410px);
}

.subscribe-button {
  background-color: $dark-green-gray;
  border: 0;
  color: $white;
  font-family: $header-font;
  font-size: rem(18px);
  font-weight: 700;
  padding: rem(14px) rem(20px);
  text-transform: uppercase;

  &:hover {
    background-color: $olive-green;
  }
}
