.splash-page {
  background-color: $light-gray;
  height: 679.5px;
  margin: 30px;
}

.splash-content {
  display: flex;
  height: 100%;
  justify-content: center;
}

.splash-typography {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}

%splash-heading {
  font-family: $header-font;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}

.splash-title {
  @extend %splash-heading;
  font-size: 4.0625rem;
  font-weight: 700;
  line-height: 4.125rem;
  margin-bottom: 10px;
}

.splash-price {
  color: $turquoise;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 50px;
}

.buy-now {
  align-items: center;
  border: 3px solid $dark-green-gray;
  border-radius: 50%;
  color: $dark-green-gray;
  display: flex;
  height: 74px;
  justify-content: center;
  width: 74px;

  &:hover {
    border-color: $olive-green;
    color: $olive-green;
  }
}

.buy-now-text {
  @extend %splash-heading;
  color: inherit;
  font-size: 1.125rem;
  line-height: 1.25rem;
  text-align: center;
}

.watch {
  margin-bottom: 40px;
  margin-left: 20px;
  margin-top: auto;
  width: 500px;
}
