// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: $white;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background: $white;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: inherit;
}