p {
  font-family: $body-font;
  color: $dark-green-gray;
  font-weight: 400;
  font-size: 0.9375rem;
  font-style: normal;
  line-height: 1.75rem;
  text-transform: none;
  margin-top: 0;
}

h1,
h2,
h3,
h4 {
  font-family: $header-font;
  color: $dark-green-gray;
  text-decoration: underline;
  margin-top: 0;
}