// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/* Background Colors */
$white: white;
$light-green: #edf2ef;
$blue-black: #2a2d32;
$light-gray: #f0f0f0;

/* Font Colors */
$dark-green-gray: #3b3d39;
$gray: #aaa;
$turquoise: #44f7b5;
$dark-gray: #404752;
$olive-green: #5a5d52;

